<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="default"/>

<f:section name="content">

<h2>Vielen Dank für Ihre Bestellung.</h2>

<p>Wir haben eine E-Mail mit Ihrer Bestellbestätigung an Sie versendet.
	Darin finden Sie auch unsere Bankverbindung zur Überweisung des fälligen
	Betrags.

<p>Nachdem das Geld auf unserem Konto eingegangen ist, werden die
	Karten schnellstmöglich an Sie versendet.
</p>

<p><i>Wir wünschen Ihnen gute Unterhaltung!</i></p>

</f:section>

</html>
