<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="row tx-theaterinfo-actor-overview">
	<div class="col-md-3 order-md-2">
		<div class="tx-theaterinfo-actor-overview-image h2">
			<f:if condition="{actor.picture}">
				<f:then>
					<f:image alt="Bild von {actor.fullName}" class="img-fluid" image="{actor.picture}" treatIdAsReference="1" width="160"/>
				</f:then>
				<f:else>
					<f:image alt="Kein Bild von {actor.fullName} vorhanden" class="img-fluid" src="EXT:theaterinfo/Resources/Public/Images/UnknownActor.png" width="160"/>
				</f:else>
			</f:if>
		</div>
	</div>

	<div class="col-md-9 order-md-1">

		<h3>{actor.fullName}</h3>

		<dl class="tx-theaterinfo-actor-properties">
			<f:if condition="{actor.birthday}">
				<dt><f:translate key="actor_age"/></dt>
				<dd>{actor.age} Jahre</dd>
			</f:if>

			<f:if condition="{actor.job}">
				<dt><f:translate key="actor_job"/></dt>
				<dd>{actor.job}</dd>
			</f:if>

			<f:if condition="{actor.managementReasons}">
				<dt><f:translate key="actor_management_reasons"/></dt>
				<dd>{actor.managementReasons}</dd>
			</f:if>

			<f:if condition="0">
				<dt><f:translate key="actor_more_information"/></dt>
				<dd>
					<f:link.action action="show" arguments="{actor: managementMembership.actor}" controller="Actor">
						Hier erfährst du noch mehr über {actor.fullName}
					</f:link.action>
				</dd>
			</f:if>
		</dl>
	</div>
</div>
</html>
