
<div class="tx-theaterinfo-actor-overview">

	<f:if condition="{useSubHeadingForName}">
		<f:then><h3>{actor.fullName}</h3></f:then>
		<f:else><h2>{actor.fullName}</h2></f:else>
	</f:if>

	<div class="row">

		<div class="col-md-3">
			<div class="tx-theaterinfo-actor-overview-image">
				<f:if condition="{actor.picture}">
					<f:then>
						<f:image src="uploads/tx_theaterinfo/{actor.picture}" alt="Bild von {actor.fullName}" width="160"/>
					</f:then>
					<f:else>
						<f:image src="EXT:theaterinfo/Resources/Public/Images/UnknownActor.png" alt="Kein Bild von {actor.fullName} vorhanden" width="160"/>
					</f:else>
				</f:if>
			</div>
		</div>

		<div class="col-md-9">

			<dl class="tx-theaterinfo-actor-properties">
				<dt><f:translate key="actor_age" /></dt>
				<dd>{actor.age} Jahre</dd>

				<dt><f:translate key="actor_job" /></dt>
				<dd>{actor.job}</dd>

				<dt><f:translate key="actor_management_reasons" /></dt>
				<dd>{actor.managementReasons}</dd>

				<f:if condition="0">
				<dt><f:translate key="actor_more_information" /></dt>
				<dd>
					<f:link.action action="show" controller="Actor" arguments="{actor: managementMembership.actor}">
						Hier erfährst du noch mehr über {actor.fullName}
					</f:link.action>
				</dd>
				</f:if>
			</dl>
		</div>

	</div>
</div>
