<f:layout name="default" />

<f:section name="content">
	<div class="tx-theaterinfo-playlist-container">
		<f:if condition="{plays}">
			<f:then>
				<f:for each="{plays}" as="play">
					<div class="innercontent floatbox tx-theaterinfo-playlist-play">
						<h3>
							{play.title}
						</h3>
						<p>
							<f:link.action action="show" controller="Play" arguments="{play: play}">Details...</f:link.action>
						</p>
					</div>
				</f:for>
			</f:then>
			<f:else>
				<p>There are currently no plays to display.</p>
			</f:else>
		</f:if>
	</div>
</f:section>
