<f:layout name="default" />

<f:section name="content">
	<div class="tx-theaterinfo-playlist-container">

		<div class="innercontent csc-default tx-theaterinfo-playlist-header">
			<h1>
				<f:if condition="{header}">
					<f:then>{header}</f:then>
					<f:else>Unser Repertoire</f:else>
				</f:if>
			</h1>
		</div>

		<f:if condition="{plays}">
			<f:then>
				<f:for each="{plays}" as="play">
					<div class="innercontent csc-default tx-theaterinfo-playlist-play">
						<div class="floatbox">
							<div class="csc-textpic csc-textpic-intext-right">
								<f:if condition="{play.logo}">
									<div class="csc-textpic-imagewrap csc-textpic-single-image">
										<f:link.action action="show" controller="Play" arguments="{play: play}">
											<f:image src="{play.logo}" alt="Logo {play.title}" width="150" class="theaterinfo-play-show-logo" />
										</f:link.action>
									</div>
								</f:if>
								<h2>{play.title}</h2>
								<f:if condition="{play.author}"><p><em>von {play.author}</em></p></f:if>
								<f:if condition="{play.timeDisplay}"><p><strong>{play.timeDisplay}</strong></p></f:if>
								<f:if condition="{play.teaser}"><p>{play.teaser}</p></f:if>
								<p><f:link.action action="show" controller="Play" arguments="{play: play}">Details...</f:link.action></p>
							</div>
						</div>
					</div>
				</f:for>
			</f:then>
			<f:else>
				<div class="innercontent csc-default tx-theaterinfo-playlist-play">
					<p>Zur Zeit sind keine Stücke im Repertoire.</p>
				</div>
			</f:else>
		</f:if>
	</div>
</f:section>
