<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="WithoutHeader"/>

<f:section name="content">
<div class="tx-theaterinfo-managementlist-container">
	<f:if condition="{managementPositions}">
		<f:then>
			<f:for each="{managementPositions}" as="managementPosition">
				<h2><f:render section="positionName" arguments="{_all}"/></h2>
				<f:if condition="{managementPosition.currentMembership}">
					<f:then>
						<f:debug>{managementPosition.currentMembership.actor}</f:debug>
						<f:render partial="Actor/Overview"
							arguments="{actor: managementPosition.currentMembership.actor}"/>
					</f:then>
					<f:else>
						<p>Dieser Vorstandsposten ist zur Zeit nicht besetzt.</p>
					</f:else>
				</f:if>
			</f:for>
		</f:then>
		<f:else>
			<div class="innercontent csc-default tx-theaterinfo-managementlist-nomembers">
				<p class="important">Es sind keine Vorstandsposten vorhanden.</p>
			</div>
		</f:else>
	</f:if>
</div>
</f:section>

<f:section name="positionName">
<f:if condition="{managementPosition.currentMembership.actor.isGenderFemale} && {managementPosition.nameFemale}">
	<f:then>{managementPosition.nameFemale}</f:then>
	<f:else>{managementPosition.name}</f:else>
</f:if>
</f:section>

</html>
