<div id="tx_formhandler_card_order_form">

	<h2>Ihre Kartenbestellung</h2>





	<div class="card-order-table">

		<div class="form-group header hidden-xs">
			<div class="col-sm-6"><h4>Aufführung</h4></div>
			<div class="col-sm-2"><h4>Normalpreis</h4></div>
			<div class="col-sm-2"><h4>Ermäßigt</h4></div>
			<div class="col-sm-2 text-right"><h4>Gesamtpreis</h4></div>
		</div>

		<div class="form-group play-header hidden-xs">
			<div class="col-sm-6">
				<b>Gretchen 89ff</b> im
				<a href="https://www.google.de/maps/place/Spessart+Forum/@50.2892507,9.3611378,15z/data=!4m5!3m4!1s0x0:0x6e427b8dee354170!8m2!3d50.2892507!4d9.3611378" target="_blank" rel="noopener noreferrer">Spessart Forum - Kultur</a>
			</div>
			<div class="col-sm-2"><b>12,00 €</b></div>
			<div class="col-sm-2"><b>10,00 €</b></div>
		</div>

		<div class="form-group card-order-row">


			<div class="col-sm-6">
				<p class="form-control-static">
		<span class="visible-xs-inline">
			<b>Gretchen 89ff</b><br>
			<span class="text-nowrap"><a href="https://www.google.de/maps/place/Spessart+Forum/@50.2892507,9.3611378,15z/data=!4m5!3m4!1s0x0:0x6e427b8dee354170!8m2!3d50.2892507!4d9.3611378" target="_blank" rel="noopener noreferrer">Spessart Forum - Kultur</a></span>
			<br>
		</span>
					<span class="text-nowrap">Samstag, den 04.11.2017</span> <span class="text-nowrap">um 20:00 Uhr</span>
				</p>
			</div>

			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-6 col-xs-4 amount-column">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711042000][normal_price]" value="12" class="hidden-price" type="hidden">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711042000][normal_amount]" value="" class="amount-input form-control" placeholder="Anzahl" type="number">
					</div>
					<div class="col-xs-8 visible-xs-block">
						<p class="form-control-static">12,00 € (Normalpreis)</p>
					</div>
					<div class="col-sm-6 col-xs-4 amount-column">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711042000][reduced_price]" value="10" class="hidden-price" type="hidden">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711042000][reduced_amount]" value="" class="amount-input form-control" placeholder="Anzahl" type="number">
					</div>
					<div class="col-xs-8 visible-xs-block">
						<p class="form-control-static">10,00 € (Ermäßigt)</p>
					</div>
				</div>
			</div>
			<div class="col-sm-2 col-xs-push-4 col-sm-push-0 row-total-column text-right-sm">
				<p class="form-control-static" data-total-price="0">
					<span class="total-price">0,00 €</span>
					<span class="visible-xs-inline">gesamt</span>
				</p>
			</div>


		</div>

		<div class="form-group card-order-row">


			<div class="col-sm-6">
				<p class="form-control-static">
		<span class="visible-xs-inline">
			<b>Gretchen 89ff</b><br>
			<span class="text-nowrap"><a href="https://www.google.de/maps/place/Spessart+Forum/@50.2892507,9.3611378,15z/data=!4m5!3m4!1s0x0:0x6e427b8dee354170!8m2!3d50.2892507!4d9.3611378" target="_blank" rel="noopener noreferrer">Spessart Forum - Kultur</a></span>
			<br>
		</span>
					<span class="text-nowrap">Freitag, den 17.11.2017</span> <span class="text-nowrap">um 20:00 Uhr</span>
				</p>
			</div>

			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-6 col-xs-4 amount-column">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711172000][normal_price]" value="12" class="hidden-price" type="hidden">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711172000][normal_amount]" value="" class="amount-input form-control" placeholder="Anzahl" type="number">
					</div>
					<div class="col-xs-8 visible-xs-block">
						<p class="form-control-static">12,00 € (Normalpreis)</p>
					</div>
					<div class="col-sm-6 col-xs-4 amount-column">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711172000][reduced_price]" value="10" class="hidden-price" type="hidden">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711172000][reduced_amount]" value="" class="amount-input form-control" placeholder="Anzahl" type="number">
					</div>
					<div class="col-xs-8 visible-xs-block">
						<p class="form-control-static">10,00 € (Ermäßigt)</p>
					</div>
				</div>
			</div>
			<div class="col-sm-2 col-xs-push-4 col-sm-push-0 row-total-column text-right-sm">
				<p class="form-control-static" data-total-price="0">
					<span class="total-price">0,00 €</span>
					<span class="visible-xs-inline">gesamt</span>
				</p>
			</div>


		</div>

		<div class="form-group card-order-row">


			<div class="col-sm-6">
				<p class="form-control-static">
		<span class="visible-xs-inline">
			<b>Gretchen 89ff</b><br>
			<span class="text-nowrap"><a href="https://www.google.de/maps/place/Spessart+Forum/@50.2892507,9.3611378,15z/data=!4m5!3m4!1s0x0:0x6e427b8dee354170!8m2!3d50.2892507!4d9.3611378" target="_blank" rel="noopener noreferrer">Spessart Forum - Kultur</a></span>
			<br>
		</span>
					<span class="text-nowrap">Samstag, den 18.11.2017</span> <span class="text-nowrap">um 20:00 Uhr</span>
				</p>
			</div>

			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-6 col-xs-4 amount-column">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711182000][normal_price]" value="12" class="hidden-price" type="hidden">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711182000][normal_amount]" value="" class="amount-input form-control" placeholder="Anzahl" type="number">
					</div>
					<div class="col-xs-8 visible-xs-block">
						<p class="form-control-static">12,00 € (Normalpreis)</p>
					</div>
					<div class="col-sm-6 col-xs-4 amount-column">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711182000][reduced_price]" value="10" class="hidden-price" type="hidden">
						<input name="tx_formhandler_card_order[order][gretchen2017][201711182000][reduced_amount]" value="" class="amount-input form-control" placeholder="Anzahl" type="number">
					</div>
					<div class="col-xs-8 visible-xs-block">
						<p class="form-control-static">10,00 € (Ermäßigt)</p>
					</div>
				</div>
			</div>
			<div class="col-sm-2 col-xs-push-4 col-sm-push-0 row-total-column text-right-sm">
				<p class="form-control-static" data-total-price="0">
					<span class="total-price">0,00 €</span>
					<span class="visible-xs-inline">gesamt</span>
				</p>
			</div>


		</div>

		<div class="form-group play-header">
			<div class="col-sm-6">
				<b>Gretchen 89ff</b>
				<br><em>Freitag, den 10.11.2017 ab 20:00 Uhr</em>
				<br>im
				<a href="https://www.google.de/maps/place/B%C3%BCrgerhaus/@50.1940734,8.9501513,17z/data=!3m1!4b1!4m5!3m4!1s0x47bd19b6ae195a6d:0xb4574ac6e8ea0d6f!8m2!3d50.19407!4d8.95234" target="_blank" rel="noopener noreferrer">Bürgerhaus Oberissigheim</a>
				<br>Karten nur erhältlich bei
				<a href="http://www.kulturverein-wundertuete.de" target="_blank" rel="noopener noreferrer">http://www.kulturverein-wundertuete.de</a>
			</div>
			<div class="col-sm-2"><b>12,60 €</b></div>
			<div class="col-sm-2 hidden-xs"><b>12,60 €</b></div>
		</div>

		<div class="form-group play-header">
			<div class="col-sm-6">
				<b>Gretchen 89ff</b> - Theater und Buffet
				<br><em>Samstag, den 11.11.2017 ab 18:30 Uhr</em>
				<br>im
				<a href="https://www.buergerhaus-restaurantniederdorfelden.de/veranstaltungen/" target="_blank" rel="noopener noreferrer">Bürgerhaus Niederdorfelden</a>
				<br>Karten nur erhältlich im
				<a href="https://www.buergerhaus-restaurantniederdorfelden.de/kontakt-1/" target="_blank" rel="noopener noreferrer">Bürgerhausrestaurant</a>
			</div>
			<div class="col-sm-2"><b>28,00 €</b><br>inkl. Essen<br>exkl. Getränke</div>
			<div class="col-sm-2 hidden-xs"><b>28,00 €</b><br>inkl. Essen<br>exkl. Getränke</div>
		</div>

	</div>

</div>
